.wrapper {
    width: 900px;
    height: 700px;
    display: grid;
    background-color: #fff;
    grid-template-columns: [col-1] 240px [col-2] 1fr [col-3] 1fr;
    grid-template-rows: [row-1] 100px [row-2] 550px [row-3] 50px;
    grid-gap: 10px;
    margin: 0 auto;
    justify-content: stretch;
}

.header {
    display: flex;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    background: #009a58;
    justify-content: space-around;
}

.header__title {
    color: #fff;
    font-size: 40px;
    padding-left: 10px;
}

.sidebar {
    grid-column-start: 1;
    grid-column-end: 1;
    background: #f2f2f2;
}

.sidebar-elem {
    display: flex;
    justify-content: center;
}

.sidebar-elem__button {
    margin-top: 10px;
}

.menu-block__title {
    padding-left: 10px;
    margin-bottom: 0px;
}

.menu-block__item {
    padding-left: 20px;
}

.main {
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #fff;
}

.main-content__title {
    padding-left: 10px;
}

.main-content__subtitle {
    padding-left: 10px;
}

.main-block__container {
    display: flex;
    justify-content: space-between;
}

.main-block__item {
    background-color: #f2f2f2;
    padding: 5px 10px;
    width: 45%;
    color: gray;
    transition-duration: 2s;
}

.main-block__item:hover {
    background-color: #6cc973;
}

.main-box__desc {
    padding-left: 10px;
}

.main-box__container {
    display: flex;
    justify-content: space-between;
}

.main-box__item {
    display: flex;
    justify-content: flex-start;
    background-color: #f2f2f2;
    width: 30%;
    margin-bottom: 10px;
    transition-duration: 2s;
}

.main-box__item:hover {
    background-color: #6cc973;
}

.main-box__img {
    background-color: #afbbca;
    margin: 10px;
    height: 50px;
    width: 50px;
}

.main-box__text {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.main-box__link {
    margin-bottom: 10px;
}

.main-box__button {
    background-color: #afbbca;
    border: none;
    padding-left: 0px;
}

.footer {
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: #f2f2f2;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    padding-left: 10px;
}

.footer__copyright {
    padding-right: 10px;
}

@media (max-width: 520px) {
    .sidebar {
        display: none;
    }
    .wrapper {
        width: 100%;
        height: 700px;
        display: grid;
        background-color: #fff;
        grid-template-columns: [col-1] 1fr;
        grid-template-rows: [row-1] 100px [row-2] 550px [row-3] 50px;
        grid-gap: 10px;
        margin: 0 auto;
        justify-content: stretch;
    }
}

.header__loader {
    width: 80px;
    height: 80px;
}

.header__loader {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

