body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 980px;
    margin: 0 auto;
}

.container {
    background: #FFF;
    margin: auto auto;
}

.header {
    height: 50px;
    width: 100%;
    background: #009a58;
    color: #fff;
    margin: 10px 0;
}

.header p{
    text-align: left;
    padding-left: 5px;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 600;
}

.menu {
    width: 20%;
    height: 400px;
    background: #f2f2f2;
    float: left;
    font-size: 12px;
}

.sea-fish, .river-fish {
    text-align: left;
    padding-left: 20px;
}

.sea-fish p, .river-fish p {
    padding-left: 20px;
    margin: 1px;
}

.sea-fish input, .river-fish input {
    cursor: pointer;
}

.sea-fish h3, .river-fish h3 {
    margin-bottom: 1px;
}

.content {
    width: 770px;
    height: 400px;
    background: #fff;
    color: #000;
    float: left;
    font-size: 12px;
    /* border: 1px solid #000; */
    margin-left: 10px;
}

.top-content {
    padding-left: 20px;
}

.middle-content {
    padding-left: 20px;
}

.block_row {
    display: flex;
    justify-content: space-between;
    /* border: 20px solid #ece89d; */
    margin-bottom: 10px;
    padding-left: 10px;
}

.block_column {
    /* border: 20px solid #5e5373; */
}

.block_item {
    background-color: #f2f2f2;
    padding: 10px;
    color: #617083;
    width: 250px;
}

.ava {
    background-color: #afbbca;
    height: 40px;
    width: 40px;
}

.discr {
    padding-left: 10px;

}



.block_row2 {
    display: flex;
    justify-content: space-between;

    /* border: 20px solid #ece89d; */
    margin-bottom: 10px;
    padding-left: 10px;
}

.block_item2 {
    background-color: #f2f2f2;
    padding: 10px;
    color: #617083;
    width: 170px;
    display: flex;

}

.block_row3 {
    display: flex;
    justify-content: space-between;
    /* border: 20px solid #ece89d; */
    margin-bottom: 10px;
    padding-left: 10px;
}

.block_item3 {
    background-color: #f2f2f2;
    padding: 10px;
    color: #617083;
    width: 170px;
    display: flex;
}

.buy-button {
    background-color: #afbbca;
    padding: 2px 5px;
    color: #252627;
}

.clear {
    clear: both;
}

.footer {
    height: 35px;
    width: 100%;
    background: #f2f2f2;
    color: #97acc5;
    margin-top: 10px;
    position: relative;
}

.contacts {
    position: absolute;
    left: 0;
    top: 10px;
    /* border: 1px solid #000; */
    width: 100px;
    padding-left: 10px;
}

.copyright {
    position: absolute;
    right: 0;
    top: 10px;
    width: 200px;
    /* border: 1px solid #000;   */
}
