body {
    background: #FFF;
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 980px;
    margin: 0 auto;
}

.container {
    background: #FFF;
    margin: auto auto;
}

.header {
    height: 50px;
    width: 100%;
    background: #009a58;
    color: #fff;
    margin: 10px 0;
}

.menu {
    width: 20%;
    height: 400px;
    background: #f2f2f2;
    float: left;
    font-size: 12px;
}

.content {
    width: 770px;
    height: 400px;
    background: #fff;
    color: #000;
    float: left;
    font-size: 12px;
    /* border: 1px solid #000; */
    margin-left: 10px;
}

.clear {
    clear: both;
}

.footer {
    height: 35px;
    width: 100%;
    background: #f2f2f2;
    color: #97acc5;
    margin-top: 10px;
    position: relative;
}
